- name: Install Apache
  ansible.builtin.apt:
    name: apache2
    state: present
    update_cache: true
  become: true

- name: Ensure Apache is running
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: true
  become: true
