name: CI/CD

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
      - name: Terraform Init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: terraform -chdir=terraform init
      - name: Terraform Plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: terraform -chdir=terraform plan

  ansible:
    needs: terraform
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible python3-boto3 python3-botocore python3-pip
          pip3 install --user --upgrade boto3 botocore

      - name: Save private key
        run: |
          echo "$PRIVATE_KEY" > ~/.ssh/alejandro.pem
          chmod 600 ~/.ssh/alejandro.pem

      - name: Run Ansible Syntax Check
        run: ansible-playbook -i ansible/aws_ec2.yml ansible/site.yml --syntax-check

      - name: Run Ansible Playbook (Check Only)
        run: ansible-playbook -i ansible/aws_ec2.yml ansible/site.yml --check
